#container {
    display: flex;
    flex-direction:row;
}

#firstOne {
    background-color: yellow;
    width: 500px;
    height: 250px;
}

#secondOne {
    background-color: orange;
    width: 500px;
    height: 250px;
}

#one {
    background-color: red;
    width: 600px;
    height: 600px;
}

#two {
    background-color: green;
    width: 500px;
    height: 500px;
}

#three {
    background-color: blue;
    width: 500px;
    height: 500px;
}
